{% extends 'base.html' %}

{% block title %} MTask | About us {%  endblock %}

{% block contentarea %}
<section id="about">
    <div class="container" style="margin-top: 100px">
      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">About Us</h2>
          <p>
            We provide easily organize and prioritize your tasks and projects so you’ll always know exactly what to work on next.
            Small steps every day add up to big achievements over time. Set daily and weekly goals, and visualize your productivity trends.
            <br>
            MTask takes care of your transactions by providing a separate view. They are shown with different colours.
            </p>
        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
      </div>

    </div>
  </section><!-- #about -->
{% endblock %}