{% extends 'base.html' %}

{% block title %} MTask | Home {%  endblock %}

{% block contentarea %}
  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to MTask</h1>
      <h2>Get a clear overview of everything on your plate and never lose track of an important task.</h2>
      <a href="{% url 'login' %}" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

    

    <!--==========================
      Services Section
    ============================-->
    
    <!--==========================
      Contact Section
    ============================-->
    

{% endblock %}