{% extends 'base.html' %}

{% block title %} MTask | services {%  endblock %}

{% block contentarea %}
<section id="services">
    <div class="container wow fadeIn" style="margin-top: 100px">
      <div class="section-header">
        <h3 class="section-title">Services</h3>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <h4 class="title"><a href="">Maintain Task</a></h4>
            <p class="description">Day to Day task are maintained</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s" style="margin-left: 380px">
          <div class="box">
            <h4 class="title"><a href="">Expense Management</a></h4>
            <p class="description">Gives the analyisis of the user expenses</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- #services -->
{% endblock %}